body{
    background-color:rgb(194, 202, 202);
    }
section{
    background-color:#ffa000;

}
.imgperfil{
    max-width: 40% !important;
    height: auto !important;
    margin:1em;
   
}
#correo{
    margin-top: 1em;
    padding: 1em;
}